<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Displaying the webpage Data</h1>
        <table border="1px">
            <tr>    
                <th>Topic_name</th>
                <th>name</th>
                <th>Url</th>
            </tr>
            {% for i in webpages %}
            <tr>
                <td>{{i.topic_name}}</td>
                <td>{{i.name}}</td>
                <td>{{i.url}}</td>
            </tr>
            {% endfor %}


        </table>
    </center>
</body>
</html>