<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Displaying Topic Models Information</h1>
        <table border="1px">
            <tr>
                <th>Topic_name</th>
            </tr>
            
            {% for i in topics %}

            <tr>
                <td>{{i.topic_name}}</td>
            </tr>

            {% endfor %}

        </table>



    </center>
</body>
</html>